footer {
    background-color: rgba(16, 139, 0, 0.701);
    display: flex;
    justify-content: space-around;

    .footer-links {
        margin-top: 20px;

        ul {
            li {
                margin: 10px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .redes-sociales {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;

        div {
            a {
                text-decoration: none;
                color: black;

                i {
                    font-size: 100px;
                }
            }
        }

        div {
            a {
                text-decoration: none;
                color: black;

                .bi-instagram {
                    font-size: 85px;
                }
            }
        }
    }

    .copyright {
        margin-top: 20px;

        p {
            margin: 5px;
            font-weight: bold;
        }
    }
}