main {
    padding: 20px;

    .catalog-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;

        div {
            text-align: center;
            border: 4px solid #000000bc;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
        }

        .img-libro {
            width: 150px; 
            height: 200px; 
            object-fit: cover;
        }

        .add-to-cart img {
            width: 20px;
            height: 20px;
        }
    }
}